{{ define "main" }}
<style>
  body {
    background-color: black;
    margin: 0;
    padding: 0;
  }
  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('C:/Users/henrique/Desktop/IA/criptomentor/fundo_site.png') no-repeat center center;
    background-size: cover;
  }
</style>

<div id="background"></div>

<!-- Assistente Virtual -->
<div id="chatbot-container" style="position: fixed; bottom: 20px; right: 20px; width: 350px; height: 450px; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); z-index: 1000;">
  <iframe
    src="https://chat.inteligenciapraviver.com/jocubas-ia"
    style="border: none; width: 100%; height: 100%">
  </iframe>
</div>

{{ end }}
